@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --radius: 0.75rem;
}

@layer base {
  :root {
    --background: #111827;
    --foreground: #E5E7EB;

    --card: #1F2937;
    --card-foreground: #E5E7EB;

    --popover: #1F2937;
    --popover-foreground: #E5E7EB;

    --primary: #3B82F6;
    --primary-foreground: #FFFFFF;

    --secondary: #2A2A2A;
    --secondary-foreground: #FAFAFA;

    --muted: #2A2A2A;
    --muted-foreground: #A3A3A3;

    --accent: #3B82F6;
    --accent-foreground: #FFFFFF;

    --destructive: #FF4D4D;
    --border: #2E3A4B;
    --input: #2E3A4B;
    --ring: #3B82F6;
  }

  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
